body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e15d05;
}

header {
    background-color: #085c9c;
    color: #94ff3c;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav li {
    margin: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.section {
    padding: 20px;
    text-align: center;
}

.work-image {
    width: 100%;
    max-width: 300px;
    transition: -webkit-transform 0.3s; /* Add vendor prefix for Safari */
    transition: transform 0.3s;
    cursor: pointer;
}

.work-image:hover {
    -webkit-transform: scale(1.1); /* Add vendor prefix for Safari */
    transform: scale(1.1);
}

footer {
    background-color: #ff8420;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.project.large {
    width: calc(100% - 10px);
    /* Subtract 10px for spacing */
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* Adjusted to "flex-start" */
}

.project {
    flex: 0 0 calc(50% - 5px);
    /* Two columns with 5px spacing */
    margin-bottom: 20px;
    transition: -webkit-transform 0.3s; /* Add vendor prefix for Safari */
    transition: transform 0.3s;
    cursor: pointer;
}

.project img {
    width: 100%;
    max-width: 100%;
}
