body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e15d05;
}

header {
    background-color: #085c9c;
    color: #94ff3c;
    text-align: left;
    padding: 20px;
}

h1 {
    margin: 0;
}

h2 {
    border-right: #085c9c;
    margin-right: auto;
}
nav {
    position: absolute; 
    top: 1px;
    right: 1px;
}

nav ul {
    list-style: none;g
    padding: 0;
}


nav li {
    margin: 5px;
    display: inline;
}

#name {
    float: left;
    margin: 0;
}

#nav {
    float: right;
}

#nav ul {
    list-style: none;
    padding: 0;
}

#nav li {
    margin: 5px;
    display: inline;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    float: right;
}

.avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.section {
    padding: 20px;
    text-align: center;
}

.section {
    padding: 20px;
    text-align: center;
}

.sectioncontact {
    background-color: #085c9c;
    color: #94ff3c;
    padding: 20px;
    text-align: left;
}

gmail {
    color: crimson;
}


#about{
    display: flex;
    
}

#projects{
    display: flex;
    flex-wrap: wrap;
}

#contact{
    display: flex;
 
}

.h2 {
    display: flex;
}

.bio {
    display: flex;
}


.work-image {
    width: 100%;
    max-width: 300px;
    transition: -webkit-transform 0.3s; /* Add vendor prefix for Safari */
    transition: transform 0.3s;
    cursor: pointer;
}

.work-image:hover {
    -webkit-transform: scale(1.1); /* Add vendor prefix for Safari */
    transform: scale(1.1);
}



.project.large {
    flex: auto;
    width: calc(100% - 10px);
    /* Subtract 10px for spacing */
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Adjusted to "flex-start" */
}

.project {
    flex: 0 0 calc(50% - 5px);
    /* Two columns with 5px spacing */
    margin-bottom: 20px;
    transition: -webkit-transform 0.3s; /* Add vendor prefix for Safari */
    transition: transform 0.3s;
    cursor: pointer;
}

.project img {
    width: 100%;
    max-width: 100%;
}
